:root {
    --white-color: #FBFBFB
    --white-color-2: #FFFFFF
    --gray-color: #D9D9D9
    --gray-color-2: #C4C4C4
    --black-color: #262626 
    --black-color-2: #252525
    --green-color: #638266
    --yellow-color: #FCC44F
}